body{
    background-color: #330099;
}

input{
    background-color: white;
    border:#330099 solid 1px;
    color:black;
}

h1{
    text-align: center;
    color:#ff6666;
}

p{
    color:white;
}

#listaiten , #busqueda{
    color:#ff9999;
}


